<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Georgia Sugisandhea</title>
    <link rel="icon" href="../images/icon.png" type="image/png">

    <!-- Google Fonts Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/aboutme.css">
</head>
<body>
    <nav>
        <div class="left">
            <div class="upperhead"><a href="home.html">Georgia Sugisandhea</a></div>
        </div>
        <div class="right">
            <div class="instagram"><a href="https://www.instagram.com/geasandhea" id="iglink" target="_blank"><i class="bi bi-instagram" style="color:#E07745; font-size: 27px;"></i></a></div>
            <div class="email"><a href="mailto:geasandhea19@gmail.com" id="maillink" target="_blank"><i class="bi bi-envelope" style="color:#E07745; font-size: 29px;"></i></a></div>
            <div class="whatsapp"><a href="https://wa.me/6287880721191?text=Hi%20Glad%20you're%20here%20" id="walink" target="_blank"><i class="bi bi-whatsapp" style="color:#E07745; font-size: 27px;"></i></a></div>
            <div class="linkedin"><a href="https://www.linkedin.com/in/georgia-sugisandhea-518795316/" id="lilink" target="_blank"><i class="bi bi-linkedin" style="color:#E07745; font-size: 27px;"></i></a></div>
        </div>
    </nav>
    <div class="about">
        <div class="aboutleft">
            <img id="secondpic" src="../images/laugh.jpg">
        </div>
        <div class="aboutright">
            <p>Hi! I am a computer science student. I have a strong passion in machine learning, web development, and programming. Skilled and experienced in Python and its libraries to develop models to cluster, classify, forecast, and regress. Also skilled and experienced in building and deploying responsive, scalable web application using frontend tech, backend tech, and database, like Angular JS, Laravel, HTML, CSS, JavaScript, Node JS, Mongo DB, and Supabase. A problem solver supported with strong teamwork skills, packed with organizational experience. My hobbies are reading novels and comics and also watching movies. I also like listening music. I am also a dancer; pop, and Indonesian traditional dance.</p>
        </div>
    </div>
    <div class="rest">
        <div class="restleft">
            <div class="restup">
                <div class="education">
                    <p id="edu">education</p>
                    <ul class="sprout">
                        <li>Tarumanagara University - <br>Computer Science (2023-currently)</li>
                        <li>SMA Santo Yakobus (2020-2023)</li>
                        <li>SMP Don Bosco I (2017-2020)</li>
                        <li>SD Don Bosco I (2011-2017)</li>
                    </ul>
                </div>
                <div class="experiences">
                    <p id="exp">publications</p>
                    <ul class="sprout">
                        <li><a href="https://journal.untar.ac.id/index.php/jiksi/article/view/34306" target="_blank">Perbandingan Kinerja KNN, SVM, dan ANN untuk <br> Memprediksi Level Obesitas (2025)</a></li>
                        <li><a href="https://journal.untar.ac.id/index.php/JSA/article/view/33810" target="_blank">Pelatihan Aplikasi Vicara untuk Para Guru dan Siswa <br> Autistik di Rumah Belajar Cemara Jakarta (2025)</a></li>
                    </ul>
                </div>
            </div>
            <div class="restbottom">
                <p id="lang">hard skills</p>
                <div class="restbottominside">
                    <div class="programming">
                        <div class="proginside">
                            <ul class="prog">
                                <li><b> Mobile and Web Development: </b><br>
                                    <div class="one"><img id="prog" src="../images/html-5.png" title="html"><img id="prog" src="../images/css-3.png" title="css"><img id="prog" src="../images/js.png" title="javascript"> <img id="prog" src="../images/angular.png" title="angularjs"><img id="prog" src="../images/node-js.png" title="nodejs"><img id="prog" src="../images/mongo-db.png" title="mongodb"></div>
                                    <div class="one"><img id="prog" src="../images/supabase.png" title="supabase"><img id="prog" src="../images/flutter.png" title="flutter"><img id="prog" src="../images/unity.png" title="unity"><img id="prog" src="../images/laravel.png" title="laravel"><img id="prog" src="../images/firebase.png" title="firebase authentication"></div></li>
                                <li><br></li>
                                <li><b> Programming: </b><br>
                                    <div class="one"><img id="prog" src="../images/python.png" title="python"><img id="prog" src="../images/java.png" title="java"><img id="prog" src="../images/sql-server.png" title="sql"><img id="prog" src="../images/c-.png" title="c++"><img id="prog" src="../images/motoko.png" title="motoko"><img id="prog" src="../images/php.png" title="php"></div></li>
                                <li><br></li>
                                <li><b> Computer Science: </b><br>  database systems, data structures, algorithms, <br>web development, object oriented programming, big data </li>
                                <li><br></li>
                                <li><b> Machine Learning: </b><br>classification, clustering, regression, forecasting, <br>model evaluation, supervised and unsupervised learning </li>
                                <li><br></li>
                                <li><b> Natural Language: </b><br>
                                    <div class="one natinside"><div class="us"><img id="usa" src="../images/united-states.png" height=50px title="English"><div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                                <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="id"><img id="idn" src="../images/indonesia.png" height="50px" title="Indonesian"><div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                                <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="kr"><img id="kr" src="../images/korea.png" height=50px title="Korean"><div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                                <div class="progress-bar" style="width: 63%"></div>
                                </div>
                            </div>
                            <div class="ita"><img id="ita" src="../images/china.png" height="50px" title="Chinese"><div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                                <div class="progress-bar" style="width: 5%"></div>
                                </div></div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="restright">
            <div class="perstitle">personal skills</div>
            <div class="box">innovative</div>
            <div class="box">imaginative</div>
            <div class="box">teamwork</div>
            <div class="box">deadline-oriented</div>
            <div class="box">optimistic</div>
            <div class="box">motivated</div>
            <div class="box">problem solving</div>
        </div>
    </div>
    <div class="more">
        <p id="moretitle">let's connect more!</p>
        <div class="moreinside">
            <div class="moreup">
                <div class="moreupleft">
                    <p id="moreinsidetitlem">Music</p>
                    <div class="music">
                        <div class="musicinside">
                            <p>I enjoy listening to music, no, I listen to music 24/7. My favorite genres are Pop, especially K-Pop and Christian Pop, movie soundtracks, orchestral music, and acapellas. I use them to shut the noisy background noises in my head so I can concentrate more, and sometimes to satisfy my understimulation using complex music like orchestra and pop. I have a lot of artists I listen to, but my favorite artists are Strings and Heart for Christian Pop, Voctave for acapellas, Joby Talbot for film scores, Philharmonic Orchestra for orchestral, and Twice and Anne Marie for pop. Lovely Runner drama soundtrack is my absolute favorite album. And my favorite songs are Evergreen Love by Strings and Heart and Farewell, Neverland by TXT. Come and see my spotify account! Maybe you'll enjoy some of the playlists I have. </p>
                            <a href="https://open.spotify.com/user/ljo5lzzftx3zxur69h3r834r1?si=0ad4c12f9b7e4393" target="_blank"><img id="music" src="../images/spotify.png" style="width:35px; border-radius: 10px;" title="Music"> - milkandhoney</a>
                        </div>
                    </div>
                </div>
                <div class="moreupright">
                    <p id="moreinsidetitlebm">Book and Movies</p>
                    <div class="bookandmovies">
                        <div class="bookandmoviesinside">
                            <p>I really like escapism through stories, so I like reading books, watching movies and series, and reading webtoons. My favorite genre for books are fantasy and mystery, but for movies, series, and comics are romance. My favorite book right now is Caraval by Stephanie Garber, Powerless by Lauren Roberts, and The Inheritance Games by Jennifer Lynn Barnes. While my favorite movie all time is The Greatest Showman. And my favorite series, Gilmore Girls for sure, Young Sheldon, Lovely Runner, and True Beauty. I track my books, movies, and series, as well as my reviews in Fable, if you like reading and watching too, consider being friends with me there and see what I'm watching and reading currently! </p>
                            <a href="https://fable.co/milkandhoney-121997753004" target="_blank"><img id="music" src="../images/fable.png" style="width:35px; border-radius: 10px;" title="Music"> - milkandhoney</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moredown">
                <p id="moreinsidetitlesp">Sneak Peek in My Life</p>
                <div class="sneakpeek">
                    <div class="sneakpeekinside">
                        <p>I like to capture the beauty of the world around me and the moments I'm living in, and I'd like to document my life so I can go back to see my memories again, and maybe motivate other people. It's not consistent yet, but maybe it will one day, for now I'll attach the accounts first so maybe you guys can see what's going on there :). </p>
                        <div class="linkssneakpeek">
                            <a href="https://www.tiktok.com/@geasandhea" target="_blank"><img id="music" src="../images/tiktok.png" style="width:35px; border-radius: 10px;" title="Music"> - geasandans</a> 
                            <a href="https://www.youtube.com/@bon.voyagea/videos" target="_blank"><img id="music" src="../images/youtube.jpg" style="width:35px; border-radius: 10px;" title="Music"> - bon.voyagea</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="attributes">icons by: freepik, kornkun, sapien, juicy_fish <a target="_blank" href="https://icons8.com/icon/bosfpvRzNOG8/mongo-db">Mongo Db</a>, <a target="_blank" href="https://icons8.com/icon/grZaE9tjqDyr/supabase">Supabase</a>, <a target="_blank" href="https://icons8.com/icon/7I3BjCqe9rjG/flutter">Flutter logo</a>, <a target="_blank" href="https://icons8.com/icon/39848/unity">Unity logo</a>, <a target="_blank" href="https://icons8.com/icon/lRjcvhvtR81o/laravel">Laravel</a> <a target="_blank" href="https://icons8.com/icon/62452/firebase">Firebase</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
</body>
</html>
